@keyframes hover{
    0%{
        transform:translateY(0rem);
    }
    100%{
        transform:translateY(-0.5rem);
    }
}
@keyframes hover-small{
    0%{
        transform:translateY(0rem);
    }
    100%{
        transform:translateY(-0.5rem);
    }
}
/* &:hover{
    animation: hover 200ms linear 0s normal ;
    animation-fill-mode: forwards;
} */