*, *::before, *::after {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
:focus-visible {
    outline: 3px solid var(--text);
    outline-offset: 0.5rem;
    border-radius: 0.2rem;
}
a{
    color: inherit;
}
h1{
    font-size: 250%;
    margin-bottom: 0;
}
h2{
    font-size: 200%;
    margin-top: 3rem;
    margin-bottom: 0;
}
h3{
    font-size: 150%;
}
p{
    margin-bottom: 1rem;
}