.footer{
    margin: 0;
    margin-top: 5rem;
    padding: 1rem;
    text-align: center;
    P{
        margin: 0;
    }
    max-width: var(--containerWidth);
    margin-inline: auto;
    padding-inline: var(--containerPadding);
    border-top: 0.2rem solid var(--primary);
    .links{
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        @media (min-width: 46.875em) {
            flex-direction: row;
            li{
                &::before{
                    content: "|";
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                }
                &:first-child{
                    &::before{
                        content: none;
                    }
                }
            }
        }
    }
}