.hover{
    @media (min-width: 46.875em) {
        transition: transform 250ms;
        &:hover {
            transform: translateY(0.3rem);
        }
    }
}
.hover-text{
    @media (min-width: 46.875em) {
        transition: transform 250ms;
        &:hover {
            transform: translateY(0.1rem);
        }
    }
}